# ignore everything
*

# expet gitignore
!.gitignore

# except dot files
!.inputrc
!.bash_aliases
!.bashrc
!.vimrc
!.git-prompt.sh
!.git-completion.bash
!.clang-format
!.config/alacritty/alacritty.toml