$include /etc/inputrc
set completion-ignore-case On
set show-all-if-ambiguous On
"\e[A": history-search-backward
"\e[B": history-search-forward
"\C-p": history-search-backward
"\C-n": history-search-forward
set editing-mode emacs
